<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h2>My Tasker</h2> 
      <br> 
      <div>
        <form action = "submit" method = "post">
          <input type = "text" name = "task">
          <input type = "submit" value = "add">
        </form>
      </div>
    </div>
  </body>
</html>
